@media only screen and (min-width: 1165px) and (max-width: 1440px) {
  .silider-bg-full {
    min-height: 900px!important;
  }
  
}

@media only screen and (max-width: 1165px) {
  .col-lg-7 {
    padding-left: 45px;
  }
  .logo2 {
    transform: translate(30px, 0);
  }
  .widget {
    margin-left: 0px!important;
  }
  .breadcrumb-wrap {
    margin: 50px 0px 0!important;
  }
  .breadcrumb-title h2 a {
    letter-spacing: 2px!important;
    line-height: 7vh!important;
  }
  #mobile-menu {
    margin-right: 30px!important;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1165px) {
  .btn.ss-btn {
    padding: 14px 45px!important;
  }
  .slider-bg {
    min-height: 400px;
  }
  .slider-bg-full {
    min-height: 750px;
  }
  .widget {
    margin-left: 0px!important;
  }
  .footer-bg {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 990px) {
  .breadcrumb-wrap .meta-info ul li {
    font-size: 12px !important;
    margin-right: 15px !important;
  }
  .menu-area {
    padding-top: 35px;
  }
  .slider-bg {
    min-height: 400px;
  }
  .slider-bg-full {
    min-height: 750px;
  }
  .mean-container a.meanmenu-reveal {
    margin-top: -55px;
  }
  .slider-content-channel p {
    margin: 30px 60px 0 60px!important;
  }
  .footer-widget {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 990px) {
  .slider-content-channel p {
    margin: 30px 160px 0 160px!important;
  }
  .slider-content h2 {
    font-size: 48px;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .about-content.pl-30 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .widget {
    margin-right: 0px!important;
  }
  .silider-bg-full {
    min-height: 750px!important;
    padding-left: 30px;
    padding-right: 30px;
  }
  .second-menu {
    padding: 0 15px 0 0;
  }
  
}

@media only screen and (max-width: 767px) {
  .col-lg-7 {
    padding-left: 15px;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .widget {
    margin-right: 0px!important;
  }
  .bsingle__content ul, .pages-content ul {
    padding-left: 15px;
  }
  .logo2 {
    padding-left: 0px;
    transform: translate(0, 0);
  }
  .mean-container a.meanmenu-reveal {
    border: 1px solid #fff;
    color: #fff;
    margin-top: -53px;
  }
  .mean-container a.meanmenu-reveal span {
    background: #fff;
  }
  .silider-bg-full {
    min-height: 700px!important;
    padding-left: 15px;
  }
  #about {
    padding-top: 80px!important;
  }
  .slider-content-channel p {
    margin: 30px 50px 0!important;
  }
  .breadcrumb-wrap {
    margin: 0!important;
  }
  .breadcrumb-title h2 a {
    letter-spacing: 2px!important;
    line-height: 5vh!important;
    font-size: 40px;
  }
  .row-body {
    padding-top: 40px;
  }
  .s-slider-content p {
    padding-top: 30px;
    line-height: 2rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 767px) {
  .s-about-img {
    margin-left: 10vw;
    margin-bottom: 50px;
    }   
  .s-about-img img {
    width: inherit;
  }
  
}

@media only screen and (max-width: 650px) {
  .row-body {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .row-body-content {
    flex-direction: column;
    padding-top: 10px;
  }
  
  .col-lg-8 {
    margin-top: 20px;
    flex: initial;
    max-width: initial;
  }

  .bsingle__post {
    background-color: #FBFFFA;
    margin-bottom: 70px;
  }

  .widget {
    display: block;
    margin: 0;
    border: initial;
    background: #FBFFFA;
    padding: 50px 15px 40px!important;
  }
  .widget:first-child {
    margin-top: 40px;
    margin-bottom: 90px;
    padding-bottom: 40px;
  }
  .bsingle__post:hover, .widget:hover {
  transition: .3s;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 4px 15px #00000026;
}

  .widget-content {
    padding-left: 20px!important;
    padding-right: 20px!important;
    margin-bottom: 50px!important;
  }

  .cat__list li, .widget__tag ul li a {
    margin: 0 5px 10px 0;
  }
  .footer-copyright {
    margin-top: 35px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 650px) {
  .s-about-img {
    margin-left: 8vw;
    margin-bottom: 60px;
  }
  .s-about-img img {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 550px) {
  .mean-container a.meanmenu-reveal {
    margin-top: -50px;
  }
  
}

@media only screen and (max-width: 480px) {
  .s-slider-content p {
    font-size: 14px;
    line-height: 1.7rem;
    padding-top: 30px;
  }
  .breadcrumb-wrap .meta-info ul li {
    font-size: 11px !important;
    margin-right: 10px !important;
  }
  .bsingle__content .meta-info ul li {
    margin-right: 30px;
  }
  .bsingle__content .meta-info ul {
    margin-bottom: 15px;
  }
  #about {
    margin-top: 60px;
    padding-top: 80px;
    padding-bottom: 0px;
  }
  #blog {
    padding-bottom: 40px;
  }
  .s-about-img {
    margin-left: 8vw;
    margin-bottom: 60px;
  }
  .s-about-img img {
    width: 90%;
  }
  .slider-content-channel p {
    margin: 30px 0 0 0!important;
  }
  .mean-container a.meanmenu-reveal {
    margin-top: -50px;
  }
  .menu-area {
    padding-top: 15px;
  }
}
