/* --- OVERALL --- */
.sticky {
  /* display: flex; */
  position: -webkit-sticky;
  position: sticky!important;
}

.row {
  display: flex;
  justify-content: space-between;
}

/* --- POST-LAYOUT --- */


/* ----------------- POST-WRITING --------------- */
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  font-weight: bold;
}

#write ul {
  list-style-type: circle;
}

#write ul li {
  list-style-type: inherit;
}

#write ul:first-child {
  list-style-type: disc;
}

#write ul li:first-child {
  list-style-type: inherit;
}

#write p {
  white-space: pre-wrap;
}

#write p:first-child {
  margin-top: 0px;!important
  padding-top: 0px;!important
}

.bsingle__content {
  border: 2px solid #F5F5F5;
}
.bsingle__post:hover, .widget:hover {
  transition: .3s;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 4px 15px #00000026;
}

/* --- SLIDER --- */
.slider-content-channel {
  padding-top: 40px;
}

.slider-content-channel h2 {
  color: #ffffff;
  font-size: 6.2vh;
  letter-spacing: 20px;
}

.slider-content-channel p {
  color: #ffffff;
  font-size: 2vh;
  margin: 30px 250px 0 250px;
  line-height: 3.5vh;
  letter-spacing: 1px;
}


/* ----------------- WIDGET --------------- */

.widget {
  margin: 0 51px 100px 51px;
  border-top: 1px solid #6d6d6d;
  padding: 20px 12px 12px 12px;
}

.toc ol {
  padding-left: 0;
  list-style-type: decimal;
  margin-left: 4px;
}

.toc li {
  margin: 5px 0 10px 18px;
  list-style-type: inherit;
}
.toc li a {
  color: #333;
  font-size: 15px;
}
.toc li a:hover {
  color: #FF8A26;
}
.toc li li {
  margin: 0 0 0 24px;
}
.toc li li a {
  color: #6d6d6d;
  font-size: 14px;
}


.toc ul {
  margin-left: 4px;
}

.cat__list li a {
  letter-spacing: 1px;
}

.cat__list li {
  border: 1px solid #FBFFFA;
}

.widget__post-content h6 {
  color: #333;
  padding-right: 0px;
}


/* ----------------- Details --------------- */

.fa-eye:before,
.fa-clock:before {
  font-size: smaller;
  color: #6d6d6d;
}

.mean-container .mean-nav {
  margin-top: 0px;
}

.menu-area {
  background-color: #19AA4B;
  padding-top: 10px;
  padding-bottom: 10px;
}

.breadcrumb-area {
  margin-top: 0px;
}

.slider-content h2 {
  font-size: 6.2vmin;
  letter-spacing: .3rem;
}

.slider-content h2 p {
  letter-spacing: .3rem;
  margin-bottom: 40px;
  font-weight: 100;
}
.slider-content h2 p::before {
  content: "\2014";
  padding-right: 5px;
  font-weight: 500;
}

.slider-content {
  min-height: 400px;
}

.s-slider-content p {
  margin-top: 10%;
  margin-bottom: 3%;
  padding-right: 8%;
  font-size: 1.6vh;
  line-height: 2.3rem;
  letter-spacing: .05rem;
}

#solution-img {
  margin-left: -255px;
}

.resources-area .col-lg-3:nth-child(2), .resources-area .col-lg-3:nth-child(4) {
  margin-top: 30px;
}

/* --- Skill stacking --- */
.text-img img {
  box-shadow: 3px 4px 15px #0000001a;
  border-radius: 135px;
  max-width: 100%;
  min-width: 70%;
  height: auto;
}

.testimonial-active .testi-img {
  margin: 0;
  position: absolute;
  left: 50%;
  top: -30%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 3px 4px 15px #0000001a;
  border-radius: 135px;
}

.slick-track:before {
  min-height: 100px;
}

.testimonial-active .ta-info {
  margin-top: 35%;
  float: none!important;
}

.testimonial-active .ta-info h5 {
    font-weight: 700;
    font-size: 25px;
}

.single-testimonial-bg {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* --- TABLES --- */
table {
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}
th {
  background-color: #19AA4B;
  color: white;
}
tr:nth-child(even) {
  background-color: #EBF3EF;
}
td:first-child {  
  width: 10.5rem;
}

/* --- POST-DETAILS --- */
#eof p {
  font-size: 12px;
  font-weight: 500;
  color: #6d6d6d;
  letter-spacing: 5px;
  text-align: center;
}

#eof p::before, #eof p::after {
    content: "\2014";
    /* padding-right: 5px; */
    font-weight: 500;
}

/* --- FOOTER --- */
.footer-bg {
  background-color: #212623;
}
.footer-bg img {
  margin-bottom: 4px;
}

#icp p {
  color: #ffffff;
}

/* --- OTHERS --- */

#s-about-img-right img {
  padding-left: 120px;
  max-width: 80%;
  margin-left: -80px;
}

#home-header-bg {
  min-height: 1080px;
}

#scrollUp {
  background: #6d6d6d!important;
}

#scrollUp:hover {
	color: #ffffff;
	background: #FF8A26;
}

.testimonial-active .slick-dots {
  margin-top: 20px;
}

.testimonial-active .slick-dots li button {
  padding: 4px;
  margin-left: 20px;
}

.slick-slide img {
  min-width: 170px;
}