/* --- OVERALL --- */
h1, h2, h3, h4, h5, h6 {
  color: #212623;
}
.sticky {
  /* display: flex; */
  position: -webkit-sticky;
  position: sticky!important;
}

.row {
  justify-content: center;
}

.main-menu ul li a.active {
  color: var(--act-1);
  border-bottom: 1px solid #ffffff;
}

.transition-img img,
.transition-img img {
  /* https://stackoverflow.com/questions/7273927/image-greyscale-with-css-re-color-on-mouse-over */
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
.transition-img img:hover,
.transition-img img:focus {
  filter: grayscale(0%); /* FF 35+ */
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
}


/* --- POST-LAYOUT --- */
.row-body {
  display: flex;
}

/* --- TABLES --- */
table {
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #999;
  padding: 0.5rem;
}
th {
  background-color: #19AA4B;
  color: white;
  text-align: center;
}
td {
  text-align: left;
  min-width: 3.5rem;
}
tr:nth-child(even) {
  background-color: #EBF3EF;
}

.about-content td:first-child {
  width: 10.5rem;
}

.breadcrumb-wrap {
  margin: 50px 220px 0;
}
.breadcrumb-title h2 a {
  letter-spacing: 0.02em;
  line-height: 1.5em;
}
.breadcrumb-title:hover {
  color: var(--act-1);
}
.breadcrumb-title h3 {
  color: #212623;
  font-weight: 600;
}
/* .breadcrumb-title h3::before, .breadcrumb-title h3::after {
  content: "\268A";
  color: #212623;
  padding-left: 15px;
  padding-right: 15px;
} */

/* ----------------- POST-WRITING --------------- */
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  font-weight: bold;
}

#write h2:first-child {
  margin-top: 0!important;
}

#write ul {
  list-style-type: circle;
}

#write ul li {
  list-style-type: inherit;
}

#write ul:first-child {
  list-style-type: disc;
}

#write ul li:first-child {
  list-style-type: inherit;
}

#write p {
  white-space: pre-wrap;
}

#write p:first-child {
  margin-top: 0px;!important
  padding-top: 0px;!important
}

blockquote {
  background-color: #FBFFFA;
}

/* --- SLIDER --- */
.logo2 img {
  min-width: 130px!important;
  max-width: 145px!important;
}
.col-lg-7 {
  padding-left: 15px;
}
.slider-content-channel {
  padding-top: 40px;
}

.slider-content-channel h2 {
  color: #ffffff;
  font-size: 55px;
  letter-spacing: 20px;
}

.slider-content-channel p {
  color: #ffffff;
  margin: 30px 250px 0 250px;
  letter-spacing: 1px;
  padding-right: 20px;
}
.s-slider-content h2 {
  padding-right: 0;
}
.ss-two {
  right: 17%!important;
}


/* ----------------- WIDGET --------------- */

.widget {
  margin: 0 50px 0 0px;
  padding: 50px 12px 30px 15px;
  margin-bottom: 40px;
  background-color: #FBFFFA;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
.widget:hover, .widget:focus {
  /* background: ; */
}
.widget:first-child {
  border-top: 1px solid #6d6d6d;
}

.widget__tag ul li a {
  padding: 9px 15px;
  border-radius: 3px;
}
.widget__post ul li {
  list-style-type: upper-roman;
}
.widget__post-content h6 a {
  color: #333;
  padding-right: 0px;
}
.widget__post-content h6 a:hover,
.cat__list li a:hover {
  color: var(--act-1);
  padding-left: 5px;
}
.toc ol {
  padding-left: 0;
  list-style-type: decimal;
  margin-left: 4px;
}

.toc li {
  margin: 5px 0 10px 18px;
  list-style-type: inherit;
}
.toc li a {
  color: #333;
  font-size: 15px;
}
.toc li a:hover {
  color: var(--act-1);
  padding-left: 5px;
}
.toc li li {
  margin: 0 0 0 24px;
}
.toc li li a {
  color: #6d6d6d;
  font-size: 14px;
}


.toc ul {
  margin-left: 4px;
}

.cat__list li a {
  letter-spacing: 1px;
}

.cat__list li {
  border: 1px solid #FBFFFA;
}



/* ----------------- Details --------------- */

.fa-eye:before,
.fa-clock:before {
  font-size: smaller;
  color: #6d6d6d;
}

.mean-container .mean-nav {
  margin-top: 0px;
}

/* .menu-area {
  background-color: #19AA4B;
  padding-top: 10px;
  padding-bottom: 10px;
} */

.breadcrumb-area {
  margin-top: 0px;
}

.slider-content h2 {
  letter-spacing: .3rem;
}

.slider-content h2 p {
  letter-spacing: .3rem;
  margin-bottom: 40px;
  font-weight: 100;
}
.slider-content h2 p::before {
  content: "\2014";
  padding-right: 5px;
  font-weight: 500;
}

.slider-content {
  min-height: 400px;
}

.s-slider-content p {
  margin-top: 10%;
  margin-bottom: 3%;
  padding-right: 8%;
  line-height: 2.3rem;
  letter-spacing: .05rem;
}
.per-text h2 span {
  color: #212623;
}

#solution-img {
  margin-left: -255px;
}

.resources-area .col-lg-3:nth-child(2), .resources-area .col-lg-3:nth-child(4) {
  margin-top: 30px;
}

/* --- Skill stacking --- */
.text-img img {
  box-shadow: 3px 4px 15px #0000001a;
  border-radius: 135px;
  max-width: 100%;
  min-width: 70%;
  height: auto;
}

.testimonial-active .testi-img {
  margin: 0;
  position: absolute;
  left: 50%;
  top: -30%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 3px 4px 15px #0000001a;
  border-radius: 135px;
}

.slick-track:before {
  min-height: 100px;
}

.testimonial-active .ta-info {
  margin-top: 35%;
  float: none!important;
}

.testimonial-active .ta-info h5 {
    font-weight: 700;
    font-size: 25px;
}

.single-testimonial-bg {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* --- POST-DETAILS --- */
.bsingle__content {
  background-color: #FBFFFA;
  border: none;
}
.bsingle__post:hover, .widget:hover {
  /* border: 1px solid #6d6d6d; */
  background: #FBFFFA 0% 0% no-repeat padding-box;
  box-shadow: 3px 4px 15px #00000026;
}
#eof p {
  font-size: 12px;
  font-weight: 500;
  color: #6d6d6d;
  letter-spacing: 5px;
  text-align: center;
}

#eof p::before, #eof p::after {
    content: "\2014";
    /* padding-right: 5px; */
    font-weight: 500;
}

.bsingle__content h2 {
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.
.post__tag {
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

/* --- FOOTER --- */
footer p, footer p a {
  color: #6d6d6d;
}
.footer-bg {
  background-color: #212623;
  font-size: 12px;
  color: #6d6d6d;
}
.footer-bg img {
  margin-bottom: 4px;
}
.footer-text p {
  color: #6d6d6d;
  padding-right: 120px;
}
.f-widget-title {
  margin-top: 5px;
}
.footer-copyright {
  padding-left: 0px;
  padding-right: 0px;
}
.footer-copyright a:hover {
  color: var(--act-1);
}
.footer-copyright:hover img{
  -webkit-filter: invert(1);
  filter: invert(1);
}
.footer-copyright.icp {
  margin-top: 90px;
}
.footer-social a {
  font-size: 15px;
  color: #6d6d6d;
  background: none;
  border: 1px solid;
  margin-left: 10px;
}
.footer-social a:hover {
  color: #fff;
  border: none;
}
.footer-social a:first-child {
  margin-left: 0px;
}
span.qr-code {
  display: block;
}
.qr-code img {
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 32px;
  left: 105px;
}
.share-wechat:hover .qr-code img {
  display: block;
}

/* CODE BLOCK */
.hljs-ln-code {
  border-bottom: 0;
  min-width: initial;
}
.codehilite tr,
.codehilite td {
  background-color: initial;
  min-width: initial;
}
.codehilite span::selection {
  color: #19AA4B;
}
.hljs-ln-n:before {
  content: none!important;
}

/* --- OTHERS --- */
.single-post-box:hover, .single-post-box.active:hover {
  transform: scale(1.03);
}

#s-about-img-right img {
  padding-left: 120px;
  max-width: 80%;
  margin-left: -80px;
}

.slider-bg-full {
  min-height: 750px;
}

#scrollUp {
  background: #6d6d6db8;
}

#scrollUp:hover {
	color: #ffffff;
	background: #FF8A26B8;
}

.testimonial-active .slick-dots {
  margin-top: 20px;
}

.testimonial-active .slick-dots li button {
  padding: 4px;
  margin-left: 20px;
}

.slick-slide img {
  min-width: 170px;
}

#write .footnote {
  
}

#write .ref {
  margin-top: 60px;
}

#write .ref::before {
  content: "\2646";
  color: #19AA4B;
  margin-right: 5px;
}