{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}


<!-- slider-area -->
{% block slider %}
<section id="parallax2" class="slider-area fix p-relative">

  <div class="slider-active2">
    <div class="single-slider slider-bg d-flex align-items-center"
      style="background-image:url({% static 'blog/img/bg/header-inner-bg.jpg' %}" ); background-repeat: no-repeat;
      background-position: right;background-size: inherit;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="slider-content-channel s-slider-content-channel text-center mt-120">
              <h2 data-animation="fadeInUp" data-delay=".4s">关于</h2>
              <p data-animation="fadeInUp" data-delay=".6s">描述</p>
            </div>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock slider %}
<!-- slider-area-end -->

{% block more-than %}
<!-- about-area -->
<section id="about" class="about-area about-p mt-80 pt-120 pb-120 p-relative">
  <div class="parolx-text-right">About Me</div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="s-about-img p-relative">
          <img src="{% static 'blog/img/testimonial/h-earth.png' %}" alt="img">

        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="about-content s-about-content pl-30">
          <div class="section-title mb-50">
            <h2>转型观察者及实践者</h2> <img src="{% static 'blog/img/bg/circle-line.png' %}" alt="circle">
          </div>
            <p>传统行业的数字化转型怎么转？业内仍在探索，这种探索往往呈现出一定的盲目性和碎片化，有没有一个关于数字化转型的优质内容平台？</p>
            <p>欢迎来到「昂奇数创」，一个深度原创的科技智库，专注于地产、建筑和泛家居行业的数字化转型和创新，并提供开阔的跨学科视角。旨在通过独立思考和深度观察，来剖析产业链上的公司、产品和数据，助您洞察行业变革的趋势和创新机会，并产生对应的转型思路。</p>
            <p>「昂奇数创」期望成就您的卓越、成长和创新，即 ARGI365 = Activate your remarkability, growth and innovation everyday.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- about-area-end -->

<!-- solution-area -->
<section class="services-area services-bg pt-120 pb-120 p-relative"
  style="background: #FBFFFA 0% 0% no-repeat padding-box;">
  <div class="parolx-text-left">Case Study</div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="about-content s-about-content pl-30">
          <div class="section-title mb-50">
            <h2>创新的数字化解决方案</h2>
            <img src="{% static 'blog/img/bg/circle-line.png' %}" alt="circle">
          </div>
          <p>作为国内首创的光伏电站设计数字化解决方案，综合无人机摄影测量、BIM、数据驱动设计等技术手段，实现光伏电站建设的数字化转型——将传统粗放的二维设计，转变为精准高效的三维协同设计，并提高单位面积电站装机容量和发电效率：</p>
          <div>
            <table>
              <tr>
                <th>创新点</th>
                <th>简要描述</th>
              </tr>
              <tr>
                <td>无人机摄影测量</td>
                <td>无人机选购、航空摄影、影像建模</td>
              </tr>
              <tr>
                <td>原型设计</td>
                <td>利用概念设计软件（SketchUp）进行原型验证</td>
              </tr>
              <tr>
                <td>BIM 正向设计</td>
                <td>可视化、三维协同设计、参数化辅助设计、光照条件模拟、材料统计、桩位图出图、阵列安装模拟动画</td>
              </tr>
              <tr>
                <td>数据驱动设计</td>
                <td>整体方案选择、参数化辅助设计</td>
              </tr>
              <tr>
                <td>网络协同项目管理</td>
                <td>BIM 项目标准、网络协同平台（Worktile）、项目样板</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="">
              <img src="{% static 'blog/img/portfolio/a-pv-uav-right.png' %}" alt="img">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- solution-area-end -->

<!-- skill-stacking-area -->
<section id="testimonios" class="testimonial-area testimonial-p pt-120 pb-120 fix p-relative">
  <div class="parolx-text-right">Stacking</div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title center-align mb-60 text-center">
          <h2>技能栈</h2>
          <img src="{% static 'blog/img/bg/circle-line.png' %}" alt="circle">
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      
      <div class="col-lg-12">
        <div class="testimonial-active">

          <div class="single-testimonial">
            <div class="single-testimonial-container">
              <div class="testi-img">
                <img src="{% static 'blog/img/portfolio/a-solution.png' %}" alt="img">
              </div>
              <div class="single-testimonial-bg">
                <div class="testi-author">
                  <div class="ta-info">
                    <h5>解决方案</h5>
                  </div>
                </div>
                <p>以光伏电站设计为例，涵盖业务架构设计、业务流程再造、产品开发、数据分析、项目管理和协作等环节，构成一整套可落地可执行的数字化转型解决方案。可利用产品思维进行持续迭代</p>
              </div>
            </div>
          </div>

          <div class="single-testimonial">
            <div class="single-testimonial-container">
              <div class="testi-img">
                <img src="{% static 'blog/img/portfolio/a-product.png' %}" alt="img">
              </div>
              <div class="single-testimonial-bg">
                <div class="testi-author">
                  <div class="ta-info">
                    <h5>产品管理</h5>
                  </div>
                </div>
                <p>依据多年的行业经验和产品经验，洞察行业发展规律和需求。从产品创意和评估、概念测试、商业分析、产品开发，直到市场反馈，形成完整的产品管理闭环，扩展为一体化解决方案</p>
              </div>
            </div>
          </div>

          <div class="single-testimonial">
            <div class="single-testimonial-container">
              <div class="testi-img">
                <img src="{% static 'blog/img/portfolio/a-data.png' %}" alt="img">
              </div>
              <div class="single-testimonial-bg">
                <div class="testi-author">
                  <div class="ta-info">
                    <h5>数据分析</h5>
                  </div>
                </div>
                <p>以统计学为根基，利用 Python 及其扩展库、Excel、Tableau 等，完成定义业务问题、识别数据源、数据收集、数据清洗、数据分析、数据可视化，直到输出数据分析报告的全流程</p>
              </div>
            </div>
          </div>

          <div class="single-testimonial">
            <div class="single-testimonial-container">
              <div class="testi-img">
                <img src="{% static 'blog/img/portfolio/a-coding.png' %}" alt="img">
              </div>
              <div class="single-testimonial-bg">
                <div class="testi-author">
                  <div class="ta-info">
                    <h5>编程开发</h5>
                  </div>
                </div>
                <p>以本站为例，利用 HTML5 & CSS3 & Bootstrap4 进行全响应式前端开发，利用 Django 进行后端开发。确保优秀的用户体验，并保持高可定制性和高扩展性，后续功能开发和网站优化正在规划中</p>
              </div>
            </div>
          </div>

          <div class="single-testimonial">
            <div class="single-testimonial-container">
              <div class="testi-img">
                <img src="{% static 'blog/img/portfolio/a-bim.png' %}" alt="img">
              </div>
              <div class="single-testimonial-bg">
                <div class="testi-author">
                  <div class="ta-info">
                    <h5>BIM 设计</h5>
                  </div>
                </div>
                <p>以星巴克咖啡厅的 BIM 设计为例，各种 BIM 构件、项目模板等模型单位均按照风格分类、内置了 Omniclass 编码体系，由总部统一全球分发，这样便于 BIM 和 SCM（供应链管理系统）打通<p>
              </div>
            </div>
          </div>

          <div class="single-testimonial">
            <div class="single-testimonial-container">
              <div class="testi-img">
                <img src="{% static 'blog/img/portfolio/a-pmi.png' %}" alt="img">
              </div>
              <div class="single-testimonial-bg">
                <div class="testi-author">
                  <div class="ta-info">
                    <h5>项目管理</h5>
                  </div>
                </div>
                <p>当前建筑业基本都是采用瀑布式管理模式，进行项目型的日常生产，这种模式在行业 SaaS 产品从 0 到 1 的阶段仍然适用。然而随着装配式等科技的发展，敏捷模式将逐步得到推广，以适应越来越高的生产力需求</p>
              </div>
            </div>
          </div>

          <!-- <div class="single-testimonial">
            <div class="single-testimonial-container">
              <div class="testi-img">
                <img src="{% static 'blog/img/portfolio/a-consulting.png' %}" alt="img">
              </div>
              <div class="single-testimonial-bg">
                <div class="testi-author">
                  <div class="ta-info">
                    <h5>咨询培训</h5>
                  </div>
                </div>
                <p>基于以上技能栈，为企业数字化转型提供咨询服务，包括但不限于企业战略规划、产品规划、创新咨询等。交付物包括可落地的数字化转型解决方案、商业计划书、线上线下培训等</p>
              </div>
            </div>
          </div> -->
          
        </div>
      </div>

    </div>
  </div>
</section>
<!-- skill-stacking-area-end -->
{% endblock more-than %}