{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}


<!-- slider-area -->
{% block slider %}
  <section id="parallax2" class="slider-area fix p-relative">
  
    <div class="slider-active2">
      <div class="single-slider slider-bg d-flex align-items-center"
        style="background-image:url({% static 'blog/img/bg/header-inner-bg.jpg' %}"); background-repeat: no-repeat; background-position: right;background-size: inherit;>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-12">
              <div class="slider-content-channel s-slider-content-channel text-center mt-120">
                {% if channel %}
                  <h2 data-animation="fadeInUp" data-delay=".4s">{{ channel.name }}</h2>
                  <p data-animation="fadeInUp" data-delay=".6s">{{ channel.desc }}</p>
                {% elif category %}
                  <h2 data-animation="fadeInUp" data-delay=".6s" class="breadcrumb-cate">{{ category.name }}</h2>
                  <p data-animation="fadeInUp" data-delay=".6s">（子类别）</p>
                {% elif tag %}
                  <h2 data-animation="fadeInUp" data-delay=".6s" class="breadcrumb-tag">{{ tag.name }}</h2>
                  <p data-animation="fadeInUp" data-delay=".6s">（标签）</p>
                {% endif %}
              </div>
            </div>
            <div class="col-lg-5">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock slider %}
<!-- slider-area-end -->

<!-- inner-blog -->
{% block inner-blog %}
  <section class="inner-blog pt-100 pb-50">
    <div class="container">
      <div class="row-body">

        <!-- widget -->
        <div class="col-lg-4">
          <aside>
            <!-- {% show_follow_me %} -->

            {% show_recent_posts %}
            
            {% if category_list %}
            <div class="widget mb-40">
              <div class="widget-title text-center">
                <h4>类别</h4>
              </div>
              <div class="cat__list">
                <ul>
                  {% for category in category_list %}
                  <li>
                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }}<span class="post-count">({{ category.num_posts }})</span></a>
                  </li>
                  {%empty %}
                    No category yet.
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endif %}
            
            {% show_tags %}
          </aside>
        </div>
        <!-- widget-end -->

        <div class="col-lg-8">

          <!-- post-list -->
          {% for post in post_list %}
            <div class="bsingle__post mb-50">
              {% if post.avatar %}
              <div class="bsingle__post-thumb transition-img">
                <img src="{{ post.avatar }}" alt="avatar">
              </div>
              {% endif %}
              <div class="bsingle__content">
                <div class="meta-info">
                  <ul>
                    <li><i class="far fa-calendar-alt"></i>{{ post.created_time.date|date:'n. d. Y' }}</li>
                    <li><i class="far fa-user"></i>{{ post.author }}</li>
                    <!-- <li><i class="far fa-stopwatch"></i>{{ post.elapsed_time }} min</li> -->
                    <li><i class="far fa-eye"></i>{{ post.views }}</li>
                  </ul>
                </div>
                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <p>{{ post.excerpt }}...</p>
                <div class="slider-btn">
                  <a href="{{ post.get_absolute_url }}" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">继续阅读</a>
                </div>
              </div>
            </div>
          {% empty %}
            <div class="no-post">No post yet.</div>
          {% endfor %}
          <!-- post-list-end -->
          
          <!-- pagination -->
          <!-- {% show_pagination %} -->
          <!-- pagination-end -->

        </div>

        
      </div>
    </div>
  </section>
{% endblock inner-blog %}
<!-- inner-blog-end -->
