{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}


{% block breadcrumb %}
  <section class="breadcrumb-area d-flex align-items-center") style="background-image:url({% static 'blog/img/testimonial/test-bg-blank.jpg' %}); min-height:400px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-8">
          <div class="breadcrumb-wrap text-center">
            <div class="breadcrumb-title mb-30">
              <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>                                   
            </div>
            <div class="meta-info">
              <ul>
                <li><i class="far fa-calendar-alt"></i>{{ post.created_time.date|date:'n-d-Y' }}</li>
                <li><i class="far fa-user"></i>by {{ post.author }}</li>
                <li><i class="far fa-stopwatch"></i>{{ post.elapsed_time }} min</li>
                <li><i class="far fa-eye"></i>{{ post.views }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock breadcrumb %}


<!-- inner-blog -->
{% block inner-blog %}
<section class="inner-blog b-details-p pt-100 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-details-wrap">

          {% if post.avatar %}
          <div class="bsingle__post-thumb mb-30">
            <img src="{{ post.avatar }}" alt="">
          </div>
          {% endif %}
        
          <div class="details__content pb-50">
            <div id="write">
              {{ post.body|safe }}
            </div>
            <div class="row">
              <div class="col-xl-6 col-md-7">
                <div class="post__tag">
                  {% if post.tags.all %}
                  <ul>
                    {% for tag in post.tags.all %}
                    <li><a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a></li>
                    {% empty %}
                    <div class="no-tag">No tags yet.</div>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <aside>
          {% show_follow_me %}
          {% show_categories %}
          {% show_tags %}
        </aside>
      </div>
    </div>
  </div>
</section>
{% endblock inner-blog %}
<!-- inner-blog-end -->