{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}


{% block slider %}
<!-- slider-area -->
<section id="parallax2" class="slider-area fix p-relative">

  <div class="slider-shape ss-two layer" data-depth="0.30">
    <div class="per-text">
      <h2>Remarkability<span>Growth</span>Innovation</h2>
    </div>
  </div>

  <!-- <div class="slider-shape ss-six layer" data-depth="0.15"><img src="{% static 'blog/img/bg/header-object2.png' %}"
      alt="shape"></div>
  <div class="slider-shape ss-eight layer" data-depth="0.50"><img src="{% static 'blog/img/bg/header-img.png' %}"
      alt="shape"></div> -->
  <div class="slider-active2">
    <div class="single-slider slider-bg slider-bg-full d-flex align-items-center" style="background-image: url({% static 'blog/img/bg/header-bg.jpg' %});">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="slider-content s-slider-content text-left">
              <h2 data-animation="fadeInUp" data-delay=".4s"><p>深度原创 · 科技智库</p>创新您的数字化转型</h2>
              <p data-animation="fadeInUp" data-delay=".6s">企业数字化转型离不开创新，「昂奇数创」专注于地产、建筑和泛家居行业的数字化转型和创新，并提供开阔的跨学科视角。旨在通过独立思考和深度观察，来剖析产业链上的公司、产品和数据，助您洞察行业变革的趋势和创新机会，并产生对应的转型思路
              </p>
              <div class="slider-btn mt-30">
                <a href="{% url 'blog:about' %}" id="header-btn" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">查看详情</a>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
      </div>
    </div>
</section>
<!-- slider-area-end -->

<!-- about-area -->
<section id="about" class="about-area about-p pt-120 pb-120 p-relative">
  <div class="parolx-text-right">About Me</div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="s-about-img p-relative">
          <img src="{% static 'blog/img/testimonial/h-earth.png' %}" alt="img">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="about-content s-about-content pl-30">
          <div class="section-title mb-50">
            <h2>转型观察者及实践者</h2> <img src="{% static 'blog/img/bg/circle-line.png' %}" alt="circle">
          </div>
          <p>传统行业的数字化转型怎么转？业内仍在探索，这种探索往往呈现出一定的盲目性和碎片化，有没有一个关于数字化转型的优质内容平台？</p>
          <p>
            欢迎来到「昂奇数创」，一个深度原创的科技智库，专注于地产、建筑和泛家居行业的数字化转型和创新，并提供开阔的跨学科视角。旨在通过独立思考和深度观察，来剖析产业链上的公司、产品和数据，助您洞察行业变革的趋势和创新机会，并产生对应的转型思路。
          </p>
          <p>「昂奇数创」期望成就您的卓越、成长和创新，即 ARGI365 = Activate your remarkability, growth and innovation everyday.</p>
          <div class="slider-btn mt-15">
            <a href="{% url 'blog:about' %}" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">查看详情</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</section>
<!-- about-area-end -->

<!-- services-area -->
<section id="" class="services-area services-bg pt-120 pb-120 p-relative"
  style="background: #FBFFFA 0% 0% no-repeat padding-box;">
  <div class="parolx-text-left">Services</div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="about-content s-about-content pl-30">
          <div class="section-title mb-50">
            <h2>转型，不止数字化</h2>
            <img src="{% static 'blog/img/bg/circle-line.png' %}" alt="circle">
          </div>
          <p>数字化转型意味着什么？有哪些切入点和思路？</p>
          <p>大约十年前，BIM（Building Information Modeling, 建筑信息模型）开始在国内建筑业升温，逐步席卷整个产业链，并在互联网家装行业声量渐增。</p>
          <p>BIM 中的 I = Information, 是公认的关键因素，却容易被忽视；业内对 M 的理解则存在颇多争议——如果仅限于 Modeling, 则止于三维数字化；如果泛化为 Management, 则容易失去信息和数据抓手。</p>
          <p>「昂奇数创」认为，BIM 是建筑业产品全生命周期管理 (PLM) 的重要数据载体，是以建筑为代表的传统行业进行数字化转型的有益尝试。数字化转型绝不仅仅是数字化，而是以数字科技为抓手，企业在业务活动、流程、能力和模式等方面的创新式转型。</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="s-single-services text-center active">
              <div class="services-icon">
                <img src="{% static 'blog/img/bg/s-saas.png' %}" alt="img">
              </div>
              <div class="second-services-content">
                <h5><a>行业 SaaS</a></h5>
                <p>梳理国内外建筑业企业服务信息，从供需双方辩证考察行业 SaaS 创新的思路</p>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="s-single-services text-center">
              <div class="services-icon">
                <img src="{% static 'blog/img/bg/s-decision.png' %}" alt="img">
              </div>
              <div class="second-services-content">
                <h5><a>商业决策</a></h5>
                <p>关注产业链优化和协同，及其与数字科技的结合，枚举高阶认知模型，促成高质量决策</p>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="s-single-services text-center">
              <div class="services-icon">
                <img src="{% static 'blog/img/bg/s-innovation.png' %}" alt="img">
              </div>
              <div class="second-services-content">
                <h5><a>创新思考</a></h5>
                <p>呈现创新领域的基本框架及方法论，并分析创新案例，以提供理论结合实践的有益启示</p>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="s-single-services text-center">
              <div class="services-icon">
                <img src="{% static 'blog/img/bg/s-resource.png' %}" alt="img">
              </div>
              <div class="second-services-content">
                <h5><a>优质资源</a></h5>
                <p>分享和数字化转型相关的优质资源，比如商业分析和思维工具、书籍、数据和案例</p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
<!-- services-area-end -->

<!-- blog-area -->
<section id="blog" class="blog-area  p-relative pt-120 pb-120 fix">
  <div class="parolx-text-right">Insights</div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="section-title text-center mb-80">
          <h2>洞悉产业创新</h2>
          <img src="{% static 'blog/img/bg/circle-line.png' %}" alt="circle">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="single-post single-post-box active mb-30">
          <div class="blog-thumb">
            <a href="blog-details.html">
              <img src="{% static 'blog/img/blog/blog_img01.jpg' %}" alt="img">
            </a>
            <div class="ct-link">
              <a href="#">创新</a>
            </div>
          </div>
          <div class="blog-content">
            <div class="b-meta mb-20">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <i class="far fa-calendar-alt"></i>5. 29. 2021
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                  <i class="fas fa-user"></i>Grit
                </div>
              </div>
            </div>
            <h4><a href="{% url 'blog:detail' 10 %}">成长乃是败于越来越强大之物——兼谈对失败的复盘</a></h4>
            <p>在书籍的扉页，周航放了一首里尔克的诗《观看的男人》，里面有一句“我们战胜的，都是渺小的，结果本身也使我们渺小……胜利不会对他发出邀请。他的成长乃是：成为卑贱的战败者，败于越来越强大之物。”</p>
            <div class="blog-btn"><a href="{% url 'blog:detail' 10 %}">查看详情<i class="fas fa-chevron-right"></i></a></div>

          </div>


        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-post single-post-box active mb-30">
          <div class="blog-thumb">
            <a href="blog-details.html">
              <img src="{% static 'blog/img/blog/blog_img02.jpg' %}" alt="img">
            </a>
            <div class="ct-link">
              <a href="{% url 'blog:detail' 16 %}">创新</a>
            </div>
          </div>
          <div class="blog-content">
            <div class="b-meta mb-20">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <i class="far fa-calendar-alt"></i>6. 2. 2021
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                  <i class="fas fa-user"></i> Grit
                </div>
              </div>
            </div>
            <h4><a href="{% url 'blog:detail' 16 %}">成为史蒂夫·乔布斯：如何跃迁为创新者</a></h4>
            <p>创造力正是 Clayton Christensen 在完成对 25 位商界领袖和大约 3000 名创新人士的调研后，得出的答案。这项研究成果形成了《创新者的基因》这本书，它关注的是商业语境中个体的创造力。</p>
            <div class="blog-btn"><a href="{% url 'blog:detail' 16 %}">查看详情<i class="fas fa-chevron-right"></i></a></div>
          </div>


        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="single-post single-post-box active mb-30">
          <div class="blog-thumb">
            <a href="blog-details.html">
              <img src="{% static 'blog/img/blog/blog_img03.jpg' %}" alt="img">
            </a>
            <div class="ct-link">
              <a href="{% url 'blog:detail' 8 %}">产品</a>
            </div>
          </div>
          <div class="blog-content">
            <div class="b-meta mb-20">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <i class="far fa-calendar-alt"></i>5. 28. 2021
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                  <i class="fas fa-user"></i>Grit
                </div>
              </div>
            </div>
            <h4><a href="{% url 'blog:detail' 8 %}">不懂信息架构 (IA)，枉谈网站和软件设计</a></h4>
            <p>本质上，IA 是信息大爆炸和社会分工进一步细化的产物。身处越来越庞杂的信息时代，每个人都面临的信息过载问题，迫使我们在尽可能短的时间内，准确地抽取目标信息，这就要求网站或应用程序高效地存储和呈现信息。</p>
            <div class="blog-btn"><a href="{% url 'blog:detail' 8 %}">查看详情<i class="fas fa-chevron-right"></i></a></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- blog-area-end -->

<!-- resources-area -->
<section id="resources" class="resources-area  p-relative pt-120 pb-120 fix" style="background: #FBFAFF;">
  <div class="parolx-text-left">Resources</div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="section-title text-center mb-80">
          <h2>创新资源宝库</h2>
          <img src="{% static 'blog/img/bg/circle-line.png' %}" alt="circle">
        </div>
      </div>
    </div>
    <div class="row">
      <!-- https://getbootstrap.com/docs/4.1/layout/grid/#grid-options -->
      <div class="col-lg-3 col-md-6 mb-30">
        <div class="s-single-services text-center active">
          <div class="services-icon">
            <a href="{% url 'blog:category' 7 %}">
            <img src="{% static 'blog/img/bg/s-saas.png' %}" alt="img">
          </div>
          <div class="second-services-content">
            <h5><a href="{% url 'blog:category' 7 %}">工具</a></h5>
            <p>介绍各种利器，一来提高您的决策质量，助您进行创新发现；二来提高您的生产效率。例如商业模式画布、Design Thinking、Git 和贝叶斯概率模型……</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-30">
        <div class="s-single-services text-center">
          <div class="services-icon">
            <img src="{% static 'blog/img/bg/s-book.png' %}" alt="img">
          </div>
          <div class="second-services-content">
            <h5><a>书籍</a></h5>
            <p>罗列一些书籍书单，并进行必要的点评，助您在自己感兴趣的方向找到好书。主要关注经管、认知、产品等领域，并做一些跨学科尝试，例如经济学和历史……</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-30">
        <div class="s-single-services text-center">
          <div class="services-icon">
            <img src="{% static 'blog/img/bg/s-data.png' %}" alt="img">
          </div>
          <div class="second-services-content">
            <h5><a>数据</a></h5>
            <p>通过可信赖的渠道搜集行业数据，展示关键行业指标，为您的战略决策提供数据支撑。例如行业 SaaS 融资情况、商品住宅销售面积、全国建材家居景气指数……</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-30">
        <div class="s-single-services text-center">
          <div class="services-icon">
            <img src="{% static 'blog/img/bg/s-case.png' %}" alt="img">
          </div>
          <div class="second-services-content">
            <h5><a>案例</a></h5>
            <p>分享一些利用数字科技进行创新实践的案例，为企业的数字化转型提供高可操作性的思路。例如 BIM + 无人机光伏电站一体化建设方案、「昂奇数创」项目……</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- resources-area-end -->

{% endblock slider %}
